@model IEnumerable<LAB4_1203819_2530019.Models.Developer>

@{
    ViewData["Title"] = "Developer";
}

<h1>Escoger Developer</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Developer" asp-route-id="@item.Id">Elegir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a style="color:red" asp-action="DeveloperName" class="btn btn-light btn-block" role="button">Agregar developer</a>
